.list_items{
  z-index: 997;
  background-color: white;
  list-style: none;
  border: 1px solid gray;
  width: 158px;
  margin-top: 0px;
  max-height: 108px;
  overflow-y: scroll;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.img_logo{
  float:left;
}
.title-weather{
  float: right;
  margin-left: 28px;
  font-size: 27px;
  font-weight: bold;
  margin-top: 25px;
}
.search-box{
  float: right;
  margin-top: 39px;
  margin-right: 87px;
}
.search-input{
  height: 26px;
}
.items{
  cursor: pointer;
}
